@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.navbar-brand{
    background-color: #ffffff !important;
}

.nav-link{
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    color: #4C95B2 !important;
    font-family: 'Nunito', sans-serif;
}

.other-navItems{
    color: black !important;
}

.btn-outline-primary{
    background-color: #4C95B2 !important;
    color: #ffffff;
    border: none;
    font-family: 'Nunito', sans-serif;
}

.footer{
    color: white;
}

.footer-back  {
    background-color: #C4C4C4;
}

.footer-back2 {
    background-color: #4C95B2;
    text-align:center;
    padding:15px;
}

.footer-center {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align:center;
    padding: 35px;
}

.link {
    padding: 15px;
}

.fas {
    color:red;
}