.footer{
    color: white;
}

.footer-back  {
    background-color: #C4C4C4;
}

.footer-back2 {
    background-color: #4C95B2;
    text-align:center;
    padding:15px;
}

.footer-center {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align:center;
    padding: 35px;
}

.link {
    padding: 15px;
}

.fas {
    color:red;
}